.button-run,
.button-reset {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 1px solid var(--border-color);
    background-color: var(--surface-color);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.1s ease-out;
    position: relative;
    box-shadow: 3px 3px 6px var(--shadow-dark), -3px -3px 6px var(--shadow-light);
    user-select: none;
}

.button-run:hover,
.button-reset:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 10px var(--shadow-dark), -5px -5px 10px var(--shadow-light);
}

.button-run:active,
.button-reset:active {
    transform: translateY(1px);
    box-shadow: inset 2px 2px 4px var(--shadow-dark), inset -2px -2px 4px var(--shadow-light);
}

.button-run {
    padding: 0 32px;
    color: var(--success-color);
}

.button-reset {
    color: var(--danger-color);
    padding: 0;
}